<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="custom.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Corporate BS Generator | All Entries</title>

 
</head>

<body>

  <%- include("../partials/navbar.ejs", { pageName : "all-entries" }) %>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="display-5 mb-4 mt-4">Corporate BS Entries</h1>
        <p class="lead text-muted mb-5">Your Corporate BS entries. Find existing BS or add your favorite terms. Enjoy - and never stop smiling.</p>
      </div>
      <div class="container text-center mb-5">
        <a href="/entries/create" class="btn btn-success">Add BS term</a>
        <a href="/generator" class="btn btn-secondary">Generate BS</a>
      </div>
    </section>
    
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          
            <% entries.forEach(entry => { %>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <h6 class="card-header mb-2"><%= entry.wordType %></h6>
                    <div class="card-body">
                        <h5 class="card-title mb-2"><%= entry.wordContent %></h5>
                        <div class="badge badge-secondary bg-dark"><%= entry.tag %></div>
                          <small class="text-muted">
                            <%= entry.createdAt.toLocaleDateString() %>
                          </small>
                        <div>
                          <a href="entries/edit/<%= entry.id %>" class="btn btn-sm btn-outline-secondary mt-2">Edit</a>
                          <form action="/entries/<%= entry.id %>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-sm btn-outline-secondary mt-2">Delete</button>
                          </form>
                        </div>
                    </div>
                  </div>
              </div>
            <% }) %>
          </div>
        </div>
        </div>
      </div>
    </div>
    


  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

<footer class="text-muted">
  <div class="container">
    <p class="float-right mt-2">
      <a href="/entries" class="btn btn-sm btn-outline-secondary">Back to top</a>
    </p>
    <div>
    <p>Contact the author on
        <a href="https://www.linkedin.com/in/ninaboehm/">LinkedIn</a>
      </p>
    </div>
  </div>
</footer>
</html>