<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="custom.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Corporate BS Generator | All Users</title>

 
</head>

<body>

  <%- include("../partials/navbar.ejs", { pageName : "all-users"}) %>
  
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="display-5 mb-4 mt-4">All Users</h1>
      </div>
    </section>                    

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-lg">
            <% users.forEach(user => { %>
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <h4 class="card-title"><%= user.firstName %></h4>
                  <div class="card-text mb-2">Last Name: <%= user.lastName %></div>
                  <div class="card-text mb-2">Email: <%= user.email %></div> 
                  <div class="card-text mb-2">Role: <%= user.role %></div> 
                  <div class="card-text mb-2">User ID: <%= user.id %></div>  
                  <a href="users/edit/<%= user.id %>" class="btn btn-sm btn-outline-secondary">Edit</a>
                      
                </div>
              </div>
            <% }) %>
          </div>
          
        </div>
        </div>
      </div>
    </div>
    


  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

<footer class="text-muted">
  <div class="container">
    <p class="float-right mt-2">
      <a href="/users" class="btn btn-sm btn-outline-secondary">Back to top</a>
    </p>
    <div>
      <p>Contact the author on
          <a href="https://www.linkedin.com/in/ninaboehm/">LinkedIn</a>
      </p>
    </div>
  </div>
</footer>
</html>