<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="custom.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Corporate BS Generator | Show User</title>
</head>

<body>

  <%- include("../partials/navbar.ejs", { pageName : "show" }) %>

  <section class="jumbotron mt-4">
    <div class="container">
        <div class="card-body">
            <h4 class="card-title"><%= user.firstName %></h4>
            <div class="card-text mb-2">Last Name: <%= user.lastName %></div>
            <div class="card-text mb-2">Email: <%= user.email %></div> 
            <div class="card-text mb-2">Role: <%= user.role %></div> 
            <div class="card-text mb-2">User ID: <%= user.id %></div>  
        <style>
          .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-success:focus {
            background-color: #564147 !important;
            border-color: #564147;
            box-shadow: none;
          }
        </style>
        <a href="/users" class="btn btn-secondary">All Users</a>
        <a href="/users/edit/<%= user.id %>" class="btn btn-primary">Edit</a>
    </div>
  </section>
</body>

</html>